@model FlowerBouquet.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h2>Details</h2>

    <div>
        <h4>product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Categories.categoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categories.categoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.productName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.productName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isdelete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isdelete)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.createdDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.modifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.modifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isFeatured)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isFeatured)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.image)
            </dt>

            <dd>
              <img  src="@Url.Content(Model.image)"/>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.quanity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quanity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

        </dl>
    </div>*@


<!--Custom table-->
<section class="product-table">
    <h1 class="margin">Details</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>CategoryName</th>
                <th>Product name</th>
                <th>Created Date</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <td>@Html.DisplayFor(modelitem => modelitem.Categories.categoryName)</td>
                    <td>@Html.DisplayFor(modelitem => modelitem.productName)</td>
                    <td>@Html.DisplayFor(modelitem =>modelitem.createdDate)</td>
                    <td>@Html.DisplayFor(modelitem => modelitem.description)</td>
                    <td><img src="@Url.Content(Model.image)" width="150" height="95" /></td>
                    <td>@Html.DisplayFor(modelitem => modelitem.price)</td>
                    <td>@Html.DisplayFor(modelitem => modelitem.quanity)</td>
                 

                </tr>
            

        </tbody>
    </table>
</section>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
