@using FlowerBouquet.Models;
@model OrderViewModel
@{
    ViewBag.Title = "customOrder";
}

@{
    int countTotalprice = 0;
    int ordertotal = 0;
    int count = 0,order=0;
    int item2 = 1;
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/d8a7637edd.js" crossorigin="anonymous"></script>


    <!-- Bootstrap CSS -->

    <link href="~/static/bootstrap.css" rel="stylesheet" />

    <link href="~/static/orderstyle.css" rel="stylesheet" />
    <link href="~/static/media.css" rel="stylesheet" />

    <title>Flower Bouquet</title>
    <!--Style code-->
    <style>
        .footer {
            background-color: #F5F5F5;
            color: #8a8a8a;
            font-size: 16px;
            padding: 60px 0 20px;
        }

        .column1 h3 {
            margin-bottom: 20px;
        }

        .app-logo img {
            margin-bottom: 20px;
        }

        .column2 img {
            width: 160px;
        }

        .column3 ul, .column4 ul {
            padding: 0;
        }

            .column3 ul li, .column4 ul li {
                list-style: none;
            }

            .column4 ul li {
                display: inline;
                padding: 0 5px;
            }

        .hr {
            margin: 20px 0;
        }

        .copyright {
            text-align: center;
        }
    </style>



</head>
<body>
    <!--header strt-->
    <header>
        <div class="container">
            <h1 class="span">Flower Bouquet</h1>
            <hr>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid g-0">
                    <!--<a class="navbar-brand" href="#">Navbar</a>-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                            <li class="nav-item">
                                @Html.ActionLink("Home", "HomePage", "static")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("AboutUs", "AboutUs", "static")
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Meet the Team", "Index", "Userteams")
                            </li>

                            <li class="nav-item">
                                @Html.ActionLink("Shop", "Index", "Userproducts")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Contact", "Create", "contacts")
                            </li>

                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-caret-down"></i></a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
            <!--menu end-->
        </div>
    </header>
    <!--table strt-->
    <section class="cart-table">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header">
                        <h2>Your Order Summary</h2>

                    </div>
                    <div class="product-table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Total price</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.cartviewmodel)
                                {
                
                                    <tr>
                                        <td>@Html.DisplayFor(modelitem => item.products.productName)</td>
                                        <td>@Html.DisplayFor(modelitem => item.price)</td>
                                        <td>@Html.DisplayFor(modelitem => item.quantity)</td>
                                        @{
                                            var price = item.price;
                                            var quantity = item.quantity;
                                            var totalprice = price * quantity;
                                            countTotalprice += totalprice;
                                        }
                                        <td>@totalprice</td>



                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--table end-->
    <!--subtotal table start-->

    <div class="Container order-table">
        <div class="row">
            <div class="col-lg-6">
                <div class="subtotal">
                    <h3>Subtotal:@countTotalprice</h3>
                    <h3>Delivery Charge:50 BDT</h3>
                    @{
                        ordertotal = countTotalprice + 50;
                    }
                    <h3>Order Total:@ordertotal</h3>



                </div>

            </div>
        </div>
    </div>


    <!--subtotal table end-->
    @foreach (var item in Model.orderviewmodel)
    {
        count++;
    }
    <section class="cart-table">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
               @for (int i = 0; i < count; i++)
               {
                   if (i == count-1)
                   {
                    <div class="product-table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>OrderID</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Order Date</th>
                                    
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.orderviewmodel)
                                {

                                    if (item2 == count)
                                    {
                                <tr>

                                    <td>@Html.DisplayFor(modelitem => item.OrderID)</td>
                                    <td>@Html.DisplayFor(modelitem => item.name)</td>
                                    <td>@Html.DisplayFor(modelitem => item.address)</td>
                                    <td>@Html.DisplayFor(modelitem => item.email)</td>
                                    <td>@Html.DisplayFor(modelitem => item.Contact)</td>
                                    <td>@Html.DisplayFor(modelitem => item.orderdate)</td>
                                   






                                </tr>


                                   }
                                    item2 = item2 + 1;
                                   

                                }


                            </tbody>
                        </table>
                    </div>
                   }
               }
                    <!--table end-->

                </div>
            </div>
        </div>
    </section>










    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 column1">
                    <h3>Download Our App</h3>
                    <p>Download Our app for ios and android</p>
                    <div class="app-logo">

                        <img src="~/staticimages/gplay.png" />
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 column2">

                    <img src="~/staticimages/logo.jpg" />
                    <p>It is a long established fact that a reader will be distracted by the readable content </p>
                </div>




                <div class="col-lg-3 col-md-6 column3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Return Policy</li>
                        <li>Payment Details</li>
                        <li>Use Coupuns</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 column4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-instagram-square"></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                    </ul>
                </div>

            </div>

            <hr>
            <p class="copyright">&#169 Copyright 2021.All Rights Reserved</p>
        </div>

    </footer>


















    <!--circle end-->
    <!-- Optional JavaScript; choose one of the two! -->



    <script src="~/static/popper.min.js"></script>
    <script src="~/static/bootstrap.min.js"></script>
    <script src="~/static/script.js"></script>
</body>
</html>
