@model FlowerBouquet.Models.product

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>

    <div>
        <h4>product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Categories.categoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categories.categoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.productName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.productName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isdelete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isdelete)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.createdDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.modifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.modifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.isFeatured)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isFeatured)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.quanity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quanity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.productId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@


<!--Custome code strt-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3658ab6f9c.js" crossorigin="anonymous"></script>


    <!-- Bootstrap CSS -->

    <link href="~/static/bootstrap.css" rel="stylesheet" />
    <link href="~/static/productdetails.css" rel="stylesheet" />

    <link href="~/static/media.css" rel="stylesheet" />


    <title>Flower Bouquet</title>
    <style>
        .footer {
            background-color: #F5F5F5;
            color: #8a8a8a;
            font-size: 16px;
            padding: 60px 0 20px;
        }

        .column1 h3 {
            margin-bottom: 20px;
        }

        .app-logo img {
            margin-bottom: 20px;
        }

        .column2 img {
            width: 160px;
        }

        .column3 ul, .column4 ul {
            padding: 0;
        }

            .column3 ul li, .column4 ul li {
                list-style: none;
            }

            .column4 ul li {
                display: inline;
                padding: 0 5px;
            }

        .hr {
            margin: 20px 0;
        }

        .copyright {
            text-align: center;
        }
    </style>
</head>


<body>
    <header>
        <div class="container">
            <h1 class="span">Flower Bouquet</h1>
            <hr>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid g-0">
                    <!--<a class="navbar-brand" href="#">Navbar</a>-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
                            <li class="nav-item">
                                @Html.ActionLink("Home", "HomePage", "static")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("AboutUs", "AboutUs", "static")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Shop", "Index", "Userproducts")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Meet the Team", "Index", "Userteams")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Contact Us", "Create", "contacts")
                            </li>
                            
                           
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-caret-down"></i></a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
            <!--menu end-->
        </div>
    </header>

    <!----------------product details---------------------->
    <section class="single-product">
        <div class="container">
            <div class="row">
              
                    <div class="col-md-5">
                        <div class="deatil-image">
                            <img src="@Url.Content(Model.image)" alt="">
                        </div>
                    </div>

                    <div class="col-md-7">
                        <p class="new-arrival text-center">NEW</p>
                        <h2>@Model.productName</h2>
                        <p>Product code:ICR2019</p>

                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>


                        <p class="price">$@Model.price</p>

                        <p><b>Availability</b>In Stock</p>
                        <p><b>Condition</b>New</p>
                        <p><b>Brand:</b>Flower Bouquet</p>
                        <label>Quantity:</label>


                       
                        <input type="text" value="1">
                      
                        
                        <button type="button" class="btn btn-success"> @Html.ActionLink("Add to Cart", "sample", new { id = Model.productId })</button>



                    </div>

                

                </div>
        </div>
    </section>


    <section class="product-description">
        <div class="container">
            <h6>Product Details</h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing   It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing</p>
        </div>
    </section>
    <hr>

    <!---------------Similar Product------------------------>


    <section class="Similar">
        <div class="container">
            <div class="title-box">
                <h2>Similar Product</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">

                        <img src="~/staticimages/product15.jpg" />
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="quick shop"><i class="fas fa-eye"></i></button>
                            <button type="button" class="btn btn-secondary" title="wishlist">
                                <i class="fas fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>

                    <div class="product-bottom text-center">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <h3>Rose Bouquet</h3>
                        <h5>$4.00</h5>

                    </div>
                </div>

                <!---2nd column-->
                <div class="col-md-3">
                    <div class="product-top">

                        <img src="~/staticimages/product16.jpg" />
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="quick shop"><i class="fas fa-eye"></i></button>
                            <button type="button" class="btn btn-secondary" title="wishlist">
                                <i class="fas fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>

                    <div class="product-bottom text-center">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <h3>Rose Bouquet</h3>
                        <h5>$4.00</h5>

                    </div>
                </div>

                <!--column 3 strt-->
                <div class="col-md-3">
                    <div class="product-top">

                        <img src="~/staticimages/product17.jpg" />
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="quick shop"><i class="fas fa-eye"></i></button>
                            <button type="button" class="btn btn-secondary" title="wishlist">
                                <i class="fas fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>

                    <div class="product-bottom text-center">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <h3>Rose Bouquet</h3>
                        <h5>$4.00</h5>

                    </div>
                </div>
                <!--4th column strt-->
                <div class="col-md-3">
                    <div class="product-top">

                        <img src="~/staticimages/product18.jpg" />
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="quick shop"><i class="fas fa-eye"></i></button>
                            <button type="button" class="btn btn-secondary" title="wishlist">
                                <i class="fas fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
                        </div>
                    </div>

                    <div class="product-bottom text-center">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <h3>Rose Bouquet</h3>
                        <h5>$4.00</h5>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 column1">
                    <h3>Download Our App</h3>
                    <p>Download Our app for ios and android</p>
                    <div class="app-logo">
                        <img src="~/staticimages/gplay.png" />
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 column2">

                    <img src="~/staticimages/logo.jpg" />
                    <p>It is a long established fact that a reader will be distracted by the readable content </p>
                </div>




                <div class="col-lg-3 col-md-6 column3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Return Policy</li>
                        <li>Payment Details</li>
                        <li>Use Coupuns</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 column4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-instagram-square"></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                    </ul>
                </div>

            </div>

            <hr>
            <p class="copyright">&#169 Copyright 2021.All Rights Reserved</p>
        </div>

    </footer>

    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/script.js"></script>

</body>
</html>

<!--Custome code end-->
